*{
  background-color: rgb(62, 114, 97);
}

.container {
  padding-top: 5%;
  color: white;

}

.item {
 margin-bottom: 30px;
}


.card {
  margin-bottom: 30px;
  color: rgb(242, 242, 242);
  background-color: rgb(40, 9, 55);
}
.button {
  
}
